<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>contado</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../portfolio/bootstrap/css/bootstrap.min.css">
    <script src="../js/botao.js"></script>
</head>

<body id="body">
    <nav id="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Habilidades</a></li>
            <li><a href="#">Sobre Mim</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
    <div id="imageBanner">
        <p id="nome">Cristian Barbosa</p>
        <!-- <div id="redes">
            <p id="nomeR">?</p>
            <p id="nomeR">?</p>
            <p id="nomeR">?</p>
        </div> -->
    </div>
    <form name="formulario">
        <div id="cont">
            <p><b>Contato</b></p>
        </div>
        <div id="box1">
            <div id="name0">
                <label id="label" for="name"><b>Nome:</b></label>
                <input type="text" placeholder="Insira seu nome" class="nameL" name="name" id="name1"></input>
            </div>
            <div>
                <label id="label" for="email"><b>E-mail:</b></label>
                <input type="email" placeholder="nome@exemplo.com" name="email" id="email1"></input>
            </div>
            <div>
                <label id="label" for="Subject"><b>Assunto:</b></label>
                <input type="text" placeholder="Tema" name="assunto" id="Subject1"></input>
            </div>
            <div>
                <label id="label" for="msg"><b>Mensagem:</b></label>
                <textarea id="msg"></textarea>
            </div>
            <div id="button">
                <button type="submit" onclick="validar()" id="button1">Enviar</button>
            </div>
        </div>
    </form>

    <footer id="rodape">
        <p>Autor: Cristian Barbosa</p>
        <p><a>©Copyryght 2021 - Cristian Barbosa -Todos os Direitos reservados</a></p>
    </footer>
</body>

</html>