<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/botao.js"></script>
</head>

<body>
    <nav>
        <h1>Cristian Barbosa</h1>
    </nav>
    <div class="ptexto">
        <h2>Mim</h2>
    </div>
    <table>
        <tr>
            <td>A amizade consegue ser tão complexa... Deixa uns desanimados, outros bem felizes... É a alimentação dos fracos É o reino dos fortes Faz-nos cometer erros Os fracos deixam se ir abaixo Os fortes erguem sempre a cabeça os assim assim assumem-os
                Sem pensar conquistamos O mundo geral e construímos o nosso pequeno lugar deixando brilhar cada estrelinha Estrelinhas... Doces, sensíveis, frias, ternurentas... Mas sempre presentes em qualquer parte Os donos da amizade...</td>
        </tr>
        <tr>
            <td>
                Eu já dei risada até a barriga doer, Já nadei até perder o fôlego, Já chorei até dormir E acordei com o rosto desfigurado. Já fiz cosquinha na minha irmã só pra ela parar de chorar, Já me queimei brincando com vela. Eu já fiz bola de chiclete e melequei
                todo o rosto. Já conversei com o espelho. E até já brinquei de ser bruxo.
            </td>
        </tr>
    </table>
    <div class="fab">
        <button class="main">
        </button>
        <ul>
            <li>
                <label for="opcao1">Opção 1</label>
                <button id="opcao1">⎈</button>
            </li>
            <li>
                <label for="opcao2">Opção 2</label>
                <button id="opcao2">⎗</button>
            </li>
            <li>
                <label for="opcao3">Opção 3</label>
                <button id="opcao3">☏</button>
            </li>
        </ul>
    </div>
</body>

</html>